<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VTI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet"/>
    <link th:replace="template :: favicon">
</head>
<body>

<nav th:replace="template :: navbar"></nav>

<div class="relative overflow-x-auto ml-8 mt-8">
    <table class="w-full text-sm text-left text-neutral-800">
        <thead class="text-xs text-neutral-800 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3">
                Nom
            </th>
            <th scope="col" class="px-6 py-3">
                Description
            </th>
            <th scope="col" class="px-6 py-3">
                Monnaie
            </th>
<!--             <th scope="col" class="px-6 py-3">
                Actions
            </th> -->
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b" th:each="game:${games}">
            <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap" th:text="${game.name}"></td>
            <td class="px-6 py-4" th:text="${game.description}"></td>
            <td class="px-6 py-4" th:text="${game.monnaie}"></td>
<!--             <td class="px-6 py-4 flex gap-4">
                <a th:href="@{/templates/admin/games/edit/{id}(id=${game.id})}" class="text-indigo-600 hover:text-indigo-900">Edit</a>
                <a th:href="@{/templates/admin/games/edit/{id}(id=${game.id})}" class="text-indigo-600 hover:text-indigo-900">Delete</a>
            </td> -->
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>