<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VTI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet"/>
    <link th:replace="template :: favicon">
</head>
<body>

<nav th:replace="template :: navbar"></nav>

<div class="relative overflow-x-auto w-2/4 ml-8 mt-8">
    <table class="w-full text-sm text-left text-neutral-800">
        <thead class="text-xs text-neutral-800 uppercase bg-gray-50">
        <tr>
            <th scope="col" class="px-6 py-3">
                Jeu
            </th>
            <th scope="col" class="px-6 py-3">
                Objet
            </th>
            <th scope="col" class="px-6 py-3">
                Prix
            </th>
        </tr>
        </thead>
        <tbody>
        <tr class="bg-white border-b"  th:each="post:${posts}" >
            <td class="px-6 py-4" th:text="${post.game.name}"></td>
            <td class="px-6 py-4" th:text="${post.title}"></td>
            <td class="px-6 py-4" th:text="${post.price} + ' ' + ${post.currency}"></td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>