<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VTI</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet"/>
    <link th:replace="template :: favicon">
</head>
<body>
<nav th:replace="template :: navbar"></nav>

<p>Utilisateur ajouté.</p>
<div class="flex flex-col">
<a href="./list">Retour à la liste</a>
<a href="./add">Retour à la page d'ajout</a>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>
</body>
</html>