<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<p>Add Game</p>
<form th:action="@{/addGame}" th:object="${game}" method="post">
    <div class="form-group">
        <label for="title">Titre</label>
        <input type="text" class="form-control" id="title" th:field="*{name}" required>
    </div>
    <div class="form-group">
        <label for="description">Titre</label>
        <input type="text" class="form-control" id="description" th:field="*{description}" required>
    </div>
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>

</body>
</html>