<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <script th:replace="template :: tailwind"></script>
  <link th:replace="template :: flowbite-1">
  <title>VTI</title>
  <link th:replace="template :: favicon">
</head>
<body>
<nav th:replace="template :: navbar"></nav>
<div class="flex flex-col justify-center items-center mt-16">
  <p>Appuyez sur "Initialiser" pour créer deux utilisateur (user et admin) avec deux roles (user et admin).</p>
  <p>Ces comptes sont sécurisé par un mot de passe étant "password" et identifié par leur nom d'utilisateur.</p>
  <p>Vous pouvez <a class="text-blue-500 underline" th:href="@{/admin/games/add}">créer un ou plusieurs jeux</a> en étant administrateur et ansi <a class="text-blue-500 underline" th:href="@{/posts/add}">poster des offres d'objets</a> relatifs à ces jeux.</p>
  <p>Vous pouvez ensuite prétendre à <a class="text-blue-500 underline" th:href="@{/posts}">acheter un objet dans un jeu</a>.</p>
</div>
<script th:replace="template :: flowbite-2"></script>
</body>
</html>