<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>VTI</title>
    <meta charset="UTF-8"/>
    <script th:replace="template :: tailwind"></script>
    <link th:replace="template :: flowbite-1">
    <link th:replace="template :: favicon">
</head>
<body>
<nav th:replace="template :: navbar"></nav>
<div class="flex justify-center mt-48">
    <div class="flex items-center">
        <form class="bg-neutral-700 text-white p-8 rounded-lg shadow-xl m-auto" th:action="@{/login}" method="post">
            <div class="mb-4">
                <label class="block text-white font-medium mb-2" for="username">Nom d'utilisateur :</label>
                <input class="w-full text-orange-800 border border-gray-400 p-2 rounded-lg" type="text" id="username" name="username" />
            </div>
            <div class="mb-4">
                <label class="block text-white font-medium mb-2" for="password">Mot de passe :</label>
                <input class="text-orange-800 w-full border border-gray-400 p-2 rounded-lg" type="password" id="password" name="password" />
            </div>
            <div class="text-center mt-4">
                <button class="bg-orange-700 hover:bg-orange-800 text-white font-medium py-2 px-4 rounded-lg">Connexion</button>
            </div>
            <div th:if="${param.error}" class="text-center mt-2 text-red-600">
                <p>Nom d'utilisateur ou mot de passe incorrect.</p>
            </div>
        </form>
    </div>

</div>
<script th:replace="template :: flowbite-2"></script>
</body>
</html>
