<!-- navbar -->
<nav class="border-gray-200 px-2 sm:px-4 py-2.5 bg-neutral-800 text-white" th:fragment="navbar">
    <div class="container flex flex-wrap items-center justify-between mx-auto">
        <a th:href="@{/}" class="flex items-center">
            <img src="https://ludovicspina.fr/images/dev/VendTonItem.png" class="h-6 mr-3 sm:h-9" alt="Flowbite Logo"/>
            <span class="self-center text-xl font-semibold whitespace-nowrap">VendTonItem</span>
        </a>
        <button data-collapse-toggle="navbar-default" type="button"
                class="inline-flex items-center p-2 ml-3 text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
                aria-controls="navbar-default" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                      clip-rule="evenodd"></path>
            </svg>
        </button>

        <div th:if="${getInit} == '0'">
            <a th:href="@{/init}">INITIALISER</a>
        </div>

        <div class="fixed bottom-0 right-0 flex gap-5 bg-neutral-800 rounded-tl text-white p-4">
            <div th:if="${getConnectedName != 'anonymousUser'}">
                <span class="text-xs font-medium p-1 bg-blue-900 bg-opacity-50 text-blue-300 flex" th:text="${getConnectedRole.replace('[ROLE_', '').replace(']', '')}">
                      </span>

            </div>

            <div class="flex gap-5">
                <!-- J'avais la flemme de faire ça differemment -->
                <div th:if="${getConnectedName != 'anonymousUser'}">
                    <p>Bienvenue, <span th:text="${getConnectedName}"></span></p>
                </div>
                <div th:if="${getConnectedName == 'anonymousUser'}">
                    <a th:href="@{/login}">Se connecter</a>
                </div>
                <!-- Fin de la flemme -->
                <div th:if="${getConnectedName != 'anonymousUser'}">
                    <a th:href="@{/logout}">Se déconnecter</a>
                </div>
            </div>
        </div>
        <div class="hidden w-full md:block md:w-auto" id="navbar-default" th:if="${getConnectedRole == '[ROLE_admin]'}">
            <ul class="flex flex-col p-4 mt-4 border border-neutral-100 rounded-lg bg-neutral-700 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-red-900">

                <li>
                    <a th:href="@{/}"
                       class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0"
                       aria-current="page">Accueil</a>
                </li>
                <li>
                    <button id="dropdownNavbarPostLink" data-dropdown-toggle="dropdownNavbarPost"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-neutral-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-neutral-100 md:p-0 md:w-auto">
                        Posts
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbarPost"
                         class="z-10 hidden font-normal bg-neutral-600 divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="py-2 text-sm text-white" aria-labelledby="dropdownLargeButton">
                            <li>
                                <a th:href="@{/admin/posts/list}" class="block px-4 py-2 hover:bg-neutral-700">Liste des
                                    posts</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/posts/add}" class="block px-4 py-2 hover:bg-neutral-700">Ajouter
                                    des posts</a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li>
                    <button id="dropdownNavbarGameLink" data-dropdown-toggle="dropdownNavbarGame"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-neutral-100 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-neutral-100 md:p-0 md:w-auto">
                        Jeux
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbarGame"
                         class="z-10 hidden font-normal bg-neutral-600 divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="py-2 text-sm text-white" aria-labelledby="dropdownLargeButton">
                            <li>
                                <a th:href="@{/admin/games/list}" class="block px-4 py-2 hover:bg-neutral-700">Liste des
                                    jeux</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/games/add}" class="block px-4 py-2 hover:bg-neutral-700">Ajouter
                                    des jeux</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <button id="dropdownNavbarAddLink" data-dropdown-toggle="dropdownNavbarAdd"
                            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-neutral-100 rounded hover:bg-neutral-700 md:hover:bg-transparent md:border-0 md:hover:text-neutral-100 md:p-0 md:w-auto">
                        Utilisateurs
                        <svg class="w-5 h-5 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                             xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                  d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                                  clip-rule="evenodd"></path>
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNavbarAdd"
                         class="z-10 hidden font-normal bg-neutral-600 divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="py-2 text-sm text-neutral-100" aria-labelledby="dropdownLargeButton">
                            <li>
                                <a th:href="@{/admin/users/list}" class="block px-4 py-2 hover:bg-neutral-700">Liste des
                                    utilisateurs</a>
                            </li>
                            <li>
                                <a th:href="@{/admin/users/add}" class="block px-4 py-2 hover:bg-neutral-700">Ajouter
                                    des
                                    utilisateurs</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>

        <div class="hidden w-full md:block md:w-auto" id="navbar-user">
            <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-neutral-700 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-neutral-700">
                <li>
                    <a th:href="@{/}"
                       class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0"
                       aria-current="page">Accueil</a>
                </li>
                <li>
                    <a th:href="@{/posts}"
                       class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0"
                       aria-current="page">Les objets</a>
                </li>
                <li>
                    <a th:href="@{/posts/offers}"
                       class="block py-2 pl-3 pr-4 text-white bg-blue-700 rounded md:bg-transparent md:text-white md:p-0"
                       aria-current="page">Mes offres</a>
                </li>
            </ul>
        </div>


    </div>
</nav>
<!-- tailwind -->
<script src="https://cdn.tailwindcss.com" th:fragment="tailwind"></script>
<!-- flowbite -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet"
      th:fragment="flowbite-1"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js" th:fragment="flowbite-2"></script>


<!-- favicon -->
<link rel="icon" type="image/png" href="https://ludovicspina.fr/images/dev/VendTonItem.png"
      th:fragment="favicon"/>

<base>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.css" rel="stylesheet"/>
</head>
<body>
<nav th:replace="template :: navbar"></nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.3/flowbite.min.js"></script>

</body>
</html>


</base>